.rand:hover {
    background: #bbb;
    box-shadow: 0 0 20px #222;
  }
  .rand {
    font-family: Helvetica, sans-serif;
    word-wrap: break;
    
    text-align: center;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  
  
  
  p#timer {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
  }
  *:focus {
    outline: none;
  }
  #front {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 11;
      /* background-color: #B4E1C8; */
      background-color: #fff;
      
  }
  #after {
      position: fixed;
      /* top: 0px;
      left: 0px; */
      width: 100%;
      height: 100%;
  
      /* background-color: #B4E1C8; */
      background-image: url('../img/bg.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      
  }
  .after{
      position: relative;
      background-color: blanchedalmond;
  }
  @media only screen and (max-width: 576px) {
    /* For mobile phones: */
    .image-front{
        width: auto;
        margin-top: 0!important;
    }
    
  }
  @media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .flower{
        display: none;
    }
  }
  /* @media only screen and (min-width: 767px){
    .image-after{
        height: 50%;
    }
  } */
  #click {
      position: absolute;
      bottom: 30%;
      left: 40%;
      background-color: #B4E1C8;
      
  }
  .image-front{
      margin-top: 4%;
      position: relative;
  }
  .image-after{
      position: relative;
  }